@import "tailwindcss";

.nav-links {
  display: none;
}

.hide {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers links */
  justify-content: center; /* Centers content vertically */
  width: 100vw; /* Full screen width */
  padding: 0;
  background-color: #007dfc; /* Make it visible */
}

.hide a {
  display: flex;
  flex-direction: column;
  background-color: #007dfc;
  color: white;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .nav-links {
    display: none;
  }
}
