<section>
  <h2 class="flex justify-center text-center font-semibold text-5xl mb-5 mt-10 text-[#08439d]">Contact Us Today</h2>
  <p class="flex justify-center font-medium text-center text-2xl mb-10">Our company offers free estimates and same-day service.</p>

  <div class="flex flex-row justify-center">
    <a class="text-white justify-center align-center  text-lg lg:text-3xl text-center font-semibold w-full sm:w-full md:w-1/4 lg:w-1/5 mt-5 flex items-center pr-1 pl-1 py-1 lg:py-10 mr-1 md:mr-3 lg:mr-5 bg-[#08439d] hover:bg-[#08439d] hover:cursor-pointer h-16 rounded-lg">Call Now: </br>727-327-7355</br></a>
    <a class="text-white justify-center align-center text-xl lg:text-3xl font-semibold w-full sm:w-full md:w-1/4 lg:w-1/5 mt-5 flex items-center pr-1 pl-1 py-1 lg:py-10 ml-1 md:ml-3 lg:ml-5 bg-[#08439d] hover:bg-[#08439d] hover:cursor-pointer h-16 rounded-lg">Book Online</a>
  </div>

  <p class="text-2xl text-black text-center mx-auto font-2xl font-semibold mt-10">OR</p>

  <div class="py-0 mt-10 text-white flex justify-center">
   <!--Start of Housecallpro Lead Capture code--> <script src="https://online-booking.housecallpro.com/script.js?token=e04a9346c2b64d92b5b0e60598d17b63&orgName=Farrell-Air-Conditioning"> </script> <iframe style="background-color: white;" id="hcp-lead-iframe" width="500px" src="https://book.housecallpro.com/lead-form/Farrell-Air-Conditioning/e04a9346c2b64d92b5b0e60598d17b63"></iframe> <!--End of Housecallpro Lead Capture code-->
  </div>
  
</section>

