<div class="mt-10 flex flex-row justify-around items-center gap-x-10 bg-[#08439d] text-white text-lg md:text-xl lg:text-2xl min-h-16 w-full">
  <p>CAC#1818177</p>
  <p>6840 Commerce Ave, Port Richey, FL</p>
  <p>727-327-7355</p>
</div>