<div class="mt-10 flex flex-row justify-around items-center gap-x-10 bg-[#007dfc] text-white text-lg md:text-xl lg:text-2xl min-h-16 w-full">
  <p>#License Number</p>
  <p>Business Location</p>
  <p>Location Address</p>
</div>