<nav>
  <ul class="lg:flex lg:pr-0 md:pr-0 gap-4 md:gap-x-10">
  <li><a href="/AstroTemplate">Home</a></li>
  <li>About Us</li>
  <li>Special Offers</li>
  <li>Meet The Team</li>
  <li>Blog</li>
  </ul>
</nav>


