---
import { Image } from 'astro:assets';
import logoipsum from "../assets/FAC.png";
---



<nav class="bg-white shadow-md top-0 z-[9999] w-full">
    <div class="container mx-auto px-6 py-3 flex items-center justify-between">
      <a href="#" class="flex items-center space-x-2 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md">
        <Image src={logoipsum} alt="logo" class="w-24 sm:w-28 md:w-32 lg:w-48 xl:w-60 ml-0" />
      </a>
  
      <div class="hidden lg:flex lg:items-center lg:space-x-6">
        <a href="/" class="text-gray-700 hover:text-blue-500 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md">Home</a>
  
        <!-- Services Dropdown -->
        <div class="relative group">
          <button aria-label="Services dropdown" class="flex items-center text-gray-700 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md group-hover:text-blue-500 transition-colors duration-200">
            Services
            <svg class="h-5 w-5 ml-1 group-hover:rotate-180 transition-transform duration-200" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
          </button>
          <ul class="absolute hidden group-hover:block bg-white border border-gray-200 rounded shadow-md mt-0 w-64 z-50">
            <li><a href="/ServiceHighlightOne/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">AC Repair & Install</a></li>
            <li><a href="/ServiceHighlightTwo/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Furnace & Heater Services</a></li>
            <li><a href="/ServiceHighlightThree/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Indoor Air Quality Services</a></li>
            <li><a href="/ServiceHighlightFour/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">HVAC Maintenance & Tune-Ups</a></li>
            <li><a href="/ServiceHighlightFive/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Smart Thermostat Installation</a></li>
            <li><a href="/ServiceHighlightSix/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Residential & Commercial Services</a></li>
          </ul>
        </div>
  
        <!-- Locations Dropdown -->
        <div class="relative group">
          <button aria-label="Locations dropdown" class="flex items-center text-gray-700 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md group-hover:text-blue-500 transition-colors duration-200">
            Service Areas
            <svg class="h-5 w-5 ml-1 group-hover:rotate-180 transition-transform duration-200" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <ul class="absolute hidden group-hover:block bg-white border border-gray-200 rounded shadow-md mt-0 w-64 z-50">
            <li><a href="/LocationOne/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Port Richey, FL</a></li>
            <li><a href="/LocationTwo/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">New Port Richey, FL</a></li>
            <li><a href="/LocationThree/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Trinity, FL</a></li>
            <li><a href="/LocationFour/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Tarpon Springs, FL</a></li>
            <li><a href="/LocationFive/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Oldsmar, FL</a></li>
            <li><a href="/LocationSix/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Odessa, FL</a></li>
            <li><a href="/LocationSeven/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Land O' Lakes, FL</a></li>
            <li><a href="/LocationEight/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Spring Hill, FL</a></li>
            <li><a href="/LocationNine/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Palm Harbor, FL</a></li>
            <li><a href="/LocationTen/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Dunedin, FL</a></li>
            <li><a href="/LocationEleven/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Holiday, FL</a></li>
            <li><a href="/LocationTwelve/" class="block px-4 py-2 hover:bg-gray-100 text-gray-700">Hudson, FL</a></li>
          </ul>
        </div>
  
        <!--Start of Housecallpro Online booking button--> 


        <a href="/aboutus/" class="text-gray-700 hover:text-blue-500 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md">About Us</a>
        <a href="/blog/" class="text-gray-700 hover:text-blue-500 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md">Blog</a>
        <a 
  href="https://book.housecallpro.com/book/Farrell-Air-Conditioning/4982eb3dab704c61a81dd0bf9f99ec4c?v2=true"
  target="_blank" rel="noopener"
  class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded shadow-md transition duration-300 ease-in-out hover:cursor-pointer"
>
  Book Online
      </a>
        <a href="tel:7273277355" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 mr-25">727-327-7355</a>
      </div>
  
      <!-- Mobile Toggle -->
      <a 
   href="https://book.housecallpro.com/book/Farrell-Air-Conditioning/4982eb3dab704c61a81dd0bf9f99ec4c?v2=true"
   target="_blank" rel="noopener"
  class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded shadow-md text-md text-center w-2/4 transition duration-300 ease-in-out md:hidden lg:hidden xl:hidden"
>
  Book Online Now
    </a>
      <div class="lg:hidden flex items-center">
        
        <button aria-label="toggle menu button" class="p-2 text-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md toggle-menu-button">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path fill="currentColor" d="M4 6h16v2H4V6zm0 5h16v2H4v-2zm0 5h16v2H4v-2z" />
          </svg>
        </button>
      </div>
    </div>
  
 <!-- Mobile Menu -->
 <div class="mobile-menu hidden absolute top-full left-0 w-full bg-white border-b border-gray-200 shadow-md text-2xl h-screen overflow-y-auto z-50">
  <div class="flex flex-col p-4 space-y-8 text-center">
    <a href="/" class="text-gray-700 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 inline-block mx-auto">Home</a>

    <!-- Services Mobile -->
    <details class="group">
      <summary class="cursor-pointer flex justify-center items-center text-gray-700 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">Services</summary>
      <ul class="mt-2 space-y-12 text-center text-xl bg-blue-50">
        <li><a href="/ServiceHighlightOne/" class="inline-block mx-auto">AC Repair & Install</a></li>
        <li><a href="/ServiceHighlightTwo/" class="inline-block mx-auto">Furnace & Heater Services</a></li>
        <li><a href="/ServiceHighlightThree/" class="inline-block mx-auto">Indoor Air Quality Services</a></li>
        <li><a href="/ServiceHighlightFour/" class="inline-block mx-auto">HVAC Maintenance & Tune-Ups</a></li>
        <li><a href="/ServiceHighlightFive/" class="inline-block mx-auto">Smart Thermostat Installation</a></li>
        <li><a href="/ServiceHighlightSix/" class="inline-block mx-auto">Residential & Commercial Services</a></li>
      </ul>
    </details>

    <!-- Locations Mobile -->
    <details class="group">
      <summary class="cursor-pointer flex justify-center items-center text-gray-700 hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">Service Areas</summary>
      <ul class="mt-2 space-y-8 text-center text-xl bg-blue-50  ">
        <li><a href="/LocationOne/" class="inline-block mx-auto">Port Richey, FL</a></li>
        <li><a href="/LocationTwo/" class="inline-block mx-auto">New Port Richey, FL</a></li>
        <li><a href="/LocationThree/" class="inline-block mx-auto">Trinity, FL</a></li>
        <li><a href="/LocationFour/" class="inline-block mx-auto">Tarpon Springs, FL</a></li>
        <li><a href="/LocationFive/" class="inline-block mx-auto">Oldsmar, FL</a></li>
        <li><a href="/LocationSix/" class="inline-block mx-auto">Odessa, FL</a></li>
        <li><a href="/LocationSeven/" class="inline-block mx-auto">Land O' Lakes, FL</a></li>
        <li><a href="/LocationEight/" class="inline-block mx-auto">Spring Hill, FL</a></li>
        <li><a href="/LocationNine/" class="inline-block mx-auto">Palm Harbor, FL</a></li>
        <li><a href="/LocationTen/" class="inline-block mx-auto">Dunedin, FL</a></li>
        <li><a href="/LocationEleven/" class="inline-block mx-auto">Holiday, FL</a></li>
        <li><a href="/LocationTwelve/" class="inline-block mx-auto">Hudson, FL</a></li>
      </ul>
    </details>

    <a href="/aboutus/" class="text-gray-700 hover:text-blue-500 inline-block mx-auto">About Us</a>
    <a href="/blog/" class="text-gray-700 hover:text-blue-500 inline-block mx-auto">Blog</a>
    <a
 href="https://book.housecallpro.com/book/Farrell-Air-Conditioning/4982eb3dab704c61a81dd0bf9f99ec4c?v2=true"
 target="_blank" rel="noopener"
  class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded shadow-md transition duration-300 ease-in-out w-2/4 mx-auto text-center"
>
  Book Online
  </a>

    <a href="tel:7273277355" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded inline-block mx-auto">727-327-7355</a>
  </div>
</div>



  </nav>
  <script type="module">
    document.querySelector('.toggle-menu-button')?.addEventListener('click', () => {
      document.querySelector('.mobile-menu')?.classList.toggle('hidden');
    });
  </script>