---
import { Image } from 'astro:assets';
const{City, State} = Astro.props
---

<section>
<div class="bg-[#007dfc] w-full hero">
    <h1 class="text-center text-white text-6xl pt-10 pb-10">Heating & Cooling Services in {City}, {State}</h1>
</div>
</section>

