---
import { Image } from 'astro:assets';
const{Service, Location} = Astro.props
---

<section>
<div class="bg-[#007dfc] w-full hero pt-10">
    <h1 class="text-center text-white text-6xl pt-10 pb-10">{Service} {Location}</h1>
</div>
</section>

