---
import { Image } from 'astro:assets';
import TJ from "../assets/tj.jpg"
import GOOSE from "../assets/goose.jpg"
import MIKE from "../assets/mike.jpg"
---

<h2 class="text-6xl text-[#08439d] text-center mt-10 font-semibold">Meet The Team</h2>
<p class="text-3xl text-gray-500 text-center mt-5 mb-10">Meet Our Experienced Team of Elite Technicians</p>

<section class="w-full flex justify-center px-4">
  <div class="grid gap-12 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 max-w-7xl">
    <!-- CARD START -->
    <div class="bg-white rounded-xl  shadow-lg max-w-sm w-full mx-auto flex flex-col">
      <Image src={GOOSE} height="500" alt="Service Manager Goose" class="w-full h-auto" />
      <div class="bg-[#08439d] p-4 flex-1 flex flex-col justify-start">
        <p class="text-4xl text-center text-white font-semibold">Goose</p>
        <p class="text-2xl text-center text-gray-200 mb-4">Service Manager</p>
        <p class="text-2xl text-white text-center break-words max-w-xs mx-auto">
          Meet Goose, one of our star team members at Farrell Air Conditioning! Customers love Goose for his friendlyy demeanor, expert knowledge, and dedication to ensuring every job is done right.
        </p>
      </div>
    </div>
    <!-- CARD END -->

    <!-- Duplicate the above block for each team member -->
    <div class="bg-white rounded-xl  shadow-lg max-w-sm w-full mx-auto flex flex-col">
      <Image src={MIKE} height="500" alt="Senior Service Tech Goose" class="w-full h-auto" />
      <div class="bg-[#08439d] p-4 flex-1 flex flex-col justify-start">
        <p class="text-4xl text-center text-white font-semibold">Mike</p>
        <p class="text-2xl text-center text-gray-200 mb-4">Senior Service Technician</p>
        <p class="text-2xl text-white text-center break-words max-w-xs mx-auto">
          Say hello to Mike, who joined the Farrell Air Conditioning team in 2015 and quickly became everyone's go-to expert! Mike stands out for his incredible attention to detail and his tireless commitment to ensuring every air conditioning system performs at its peak.
        </p>
      </div>
    </div>

    <div class="bg-white rounded-xl shadow-lg max-w-sm w-full mx-auto flex flex-col">
      <Image src={TJ} height="500" alt="Service Tech TJ" class="w-full h-auto" />
      <div class="bg-[#08439d] p-4 flex-1 flex flex-col justify-start">
        <p class="text-4xl text-center text-white font-semibold">T.J.</p>
        <p class="text-2xl text-center text-gray-200 mb-4">Service Technician</p>
        <p class="text-2xl text-white text-center break-words max-w-xs mx-auto">
          Meet T.J, a dynamic member of the Farrell Air Conditioning team since 2022! With a knack for all things HVAC, T.J. has swiftly become a pivotal part of our service family. Known for his quick diagnostics and efficient repairs, he ensures that every customer's AC system runs like a dream.
        </p>
      </div>
      
    </div>

    
  </div>

  

</section>