<section class="w-full lg:w-1/2 mx-auto mt-10">
    <h1 class="text-center text-4xl text-[#007dfc] underline">Other Amazing HVAC Solutions We Provide</h1>
    <ul class="grid grid-cols-2 gap-y-6 text-[#007dfc] text-xl md:text-3xl leading-normal text-center sm:text-center md:text-center lg:text-center mt-10">
      <li class="hover:underline hover:cursor-pointer">AC Repair & Installation</li>
      <li class="hover:underline hover:cursor-pointer">Furnace & Heater Services</li>
      <li class="hover:underline hover:cursor-pointer">Indoor Air Quality Solutions</li>
      <li class="hover:underline hover:cursor-pointer">HVAC Maintenance & Tune-Ups</li>
      <li class="hover:underline hover:cursor-pointer">Smart Thermostat Installation</li>
      <li class="hover:underline hover:cursor-pointer">Residential & Commercial Services</li>
    </ul>
  </section>