<html>
    <body>
        <div class="wave">
            <h2 class="text-white text-6xl font-semibold text-center drop-shadow-lg pt-5">Areas We Proudly Service</h2>
            <h3 class="text-white text-2xl font-semibold text-center py-5">(We Offer Same-Day Service!)</h3>
        </div>
    </body>
</html>

<style>
.wave {
    background-image: url("../assets/wave.svg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 100px;
  }
</style>