---
import { Image } from 'astro:assets';
import Promises from './Promises.astro';
const {HeroTitle, HeroTitleTwo} = Astro.props;

---

<section class="hero-section relative flex justify-evenly items-center px-4 min-h-[60vh] flex-col"> 
  <!-- Optional overlay -->
  <div class="absolute inset-0 bg-black/20 z-0 border-b-2 border-blue-500"></div>

  <div class="relative w-full text-center px-4 z-10">
    <h1 class="text-white font-extrabold drop-shadow-lg text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl leading-snug">
      {HeroTitle}<br class="hidden md:block" />
    </h1>
    <h2 class="text-white font-semibold drop-shadow-md text-2xl sm:text-3xl md:text-4xl lg:text-5xl  mt-4">
      {HeroTitleTwo}
    </h2>
  </div>
</section>

<style>
.hero-section {
  background-image: url("../assets/ServiceHighlightHero.webp");
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  max-height: 85vh;
}
</style>