---
import Hamburger from "../components/Hamburger.astro";

// src/layouts/Layout.astro
// import "../AstroTemplate/styles/global.css";

---
<!doctype html>
<html lang="en">
  <head>
    <slot name="head"/>
  </head>

  
   
 
  <body class="bg-[#D6E6FA]">
    <header>
      <Hamburger/>
    </header>
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";

  body {
  font-family: "Oswald Variable", sans-serif;
}

header {
 position:fixed;
 z-index: 50;
 width: 100%;
}

</style>



