---
import "../styles/global.css";
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import ServicePanels from '../components/ServicePanels.astro'
import ServiceAreas from '../components/ServiceAreas.astro'
import GoogleReviews from '../components/GoogleReviews.astro'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ryans Template</title>
	</head>
	<body>
	<Header />
	<Hero />
	<ServicePanels />
	<GoogleReviews/>
	<ServiceAreas/>
	</body>
</html>

