---
import Hamburger from "../components/Hamburger.astro";

// src/layouts/Layout.astro
// import "../AstroTemplate/styles/global.css";

---
<!doctype html>
<html lang="en">
  <head>
    <slot name="head"/>
  </head>
    <Hamburger/>
 
  <body class="bg-[#E3F2FD]">
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";

  body {
  font-family: "Oswald Variable", sans-serif;
}

header {
  position: sticky;
  top:0;
  z-index: 50;
}
</style>

<script type="module" src="/AstroTemplate/scripts/menu.js"></script>

