---
// src/layouts/Layout.astro
// import "../AstroTemplate/styles/global.css";
---
<!doctype html>
<html lang="en">
  <head>
    <slot name="head"/>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";

  body {
  font-family: "Oswald Variable", sans-serif;
}

</style>